.shop {
    display: inline-block;
    background-color: white;
    width: 320px;
    overflow: hidden;
    position: relative;
    margin: 11px 5px;
    transition: box-shadow 0.3s ease;
    box-shadow: 4px 4px 5px -3px #575757;
    border-radius: 8px;
    text-align: left;
}

.shop_img {
    width: 320px;
    height: 155px;
    object-fit: cover;
}

.shop_content {
    width: 85%;
    display: inline-block;
    padding: 15px 15px 5px 15px;
    vertical-align: bottom;
}

.shop_content h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.shop_content p {
    margin: 5px 0;
    font-size: 12px;
}

.shop_content a {
    display: inline-block;
    padding: 7px 16px;
    background-color: #315DFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.heart-icon {
    margin: 0 0 5px 0;
    cursor: pointer;
    transition: fill 0.3s ease;
    color: #eeeeee;
}

.heart-icon.favorited {
    color: #ff0000;
    fill: #ff0000;
}

.done_card {
    width: 480px;
    background: #fff;
    margin: 20vh auto 0 auto;
    box-shadow: 5px 6px 9px -5px #303030;
    border-radius: 8px;
}

.done_card-body {
    padding: 50px 20px;
}

.done_card-body p {
    text-align: center;
    display: block;
    font-size: 24px !important;
    padding: 0 0 40px;
    font-size: 20px;
}

.done_card-body a {
    width: 60px;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 7px 16px;
    background-color: #315DFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
}

.search_box {
    position: relative;
    width: 90%;
    max-width: 500px;
    margin: 0 0 0 auto;
    padding: 5px;
    box-shadow: 2px 3px 4px -1px #303030;
    border-radius: 6px;
    background-color: #fff;
    right: 0;
}

.select-wrapper,
.search-wrapper {
    position: relative;
    display: inline-block;
}

.select-wrapper::after {
    content: '▼';
    font-size: 10px;
    color: #5f5f5f;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.search-wrapper::before{
    content: 'search';
    font-family: 'Material Icons';
    font-size: 20px;
    color: #929292;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.search-area-select,
.search-genre-select,
.search-keyword-input {
    margin: 0 40px 0 10px;
    font-size: 12px;
    color: #5f5f5f;
    appearance: none;
    -webkit-appearance: none;
}

.search-area-select,
.search-genre-select {
    padding-right: 20px;
}

.search-keyword-input{
    padding-left: 25px;
}

.rating{
    display: block !important;
    text-align: right;
    margin: 0 20px 15px auto;
    font-size: 14px;
    color: #575757;
}

@media screen and (max-width: 1500px) {
    .shop {
        width: 24%;
        margin: 11px 3px;
    }
}

@media screen and (max-width: 1340px) {
    .app{
        width: 90%;
        max-width: 90%;
    }
    .shop {
        width: 32%;
        margin: 11px 3px;
    }
    .shop_img {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {

    .search_box {
        display: block;
        width: 500px;
        max-width: 100%;
        margin-top: 10px;
    }
    .shop {
        width: 46%;
        margin: 11px 7px;
    }
    .shop_content{
        width: 80%;
    }
    .material-symbols-outlined {
        font-size: 28px !important;
    }
}

@media screen and (max-width: 499px) {
    .content{
        text-align: center;
    }
    .shop {
        width: 98%;
        margin: 11px auto;
    }
    .shop_content {
        width: 80%;
        text-align: left;
        display: inline-block;
    }
    .material-symbols-outlined{
        font-size: 30px !important;
    }
    .app {
        width: 90%;
        max-width: 90%;
    }
    .done_card{
        width:98%;
    }
    .done_card-body {
        padding: 50px 10px;
    }
}