.content{
    width: 100%;
    margin: auto;
    padding: 0;
}
.register_head{
    background: #5B5554;
    padding: 15px 20px;
    border-radius: 8px 8px 0 0;
    color: #fff;
    font-weight: normal;
    font-size: 18px;
}

.register{
    width: 400px;
    background: #fff;
    margin: 20vh auto 0 auto;
    box-shadow: 5px 6px 9px -5px #303030;
    border-radius: 8px;
}
.register_card{
    padding: 15px 20px 15px 20px;
}

.form-group{
    width: 100%;
    margin: 0 auto;
    padding: 7px 0;
    text-align: center;
}

.form-control{
    display: inline-block;
    color: #3D3D3D;
    border-bottom: 1px solid #3D3D3D;
    width: 320px;
    text-align: left;
    vertical-align: text-bottom;
    padding-bottom: 5px;
    font-size: 14px;
}

.register_card_btn{
    padding-top: 20px;
    margin: 0 auto;
    text-align: right;
}

.btn-primary{
    background: #5B5554;
    padding: 5px 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 8px;
}

.thanks_card {
    width: 480px;
    background: #fff;
    margin: 20vh auto 0 auto;
    box-shadow: 5px 6px 9px -5px #303030;
    border-radius: 8px;
}

.thanks_card-body {
    padding: 50px 20px;
}

.thanks_card-body p{
    text-align: center;
    display: block;
    font-size: 24px !important;
    padding: 0 0 40px;
    font-size: 20px;
}

.thanks_card-body a {
    width: 120px;
    margin: 0 auto;
    display: block;
    padding: 7px 16px;
    background-color: #5B5554;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
}
.text-danger {
    color: #F75F5F;
    font-size: 12px;
    display: block;
    text-align: left;
    margin: 0 0 0 30px;
}

@media screen and (max-width: 499px) {
    .register{
        width: 98%;
        min-width: 150px;
    }

    .register_card {
        padding: 15px 10px 15px 10px;
    }

    .form-control {
        width: 80%;
    }
    .thanks_card {
        width: 98%;
    }
    .thanks_card-body {
        padding: 50px 10px;
    }
}